

 /* Style pour les playlists */
.playlist-item {
    margin-bottom: 15px;
  }
  
  .playlist-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 300px;
  }
  
  .playlist-title i {
    margin-left: 5px;
  }
  
  /* Style pour la liste des chansons */
  .ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
  }
  
  li {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
  
  /* Style pour le bouton de suppression */
  #trashBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  #trashBtn:hover {
    color: #cc0000;
  }

  .fa-solid {
    margin-right: 0px;
  }